.place__paraghraph {
  width: 100%;
  margin: 0;  
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .place__paraghraph {
    font-size: 16px;    
  }
}


